html
    head
        title merhaba pug
    body
        //açıklama
        div(id='başlık') başlık div i

        - var deneme = 'deneme'
        - var deneme2 = 'deneme2'

        =deneme.toUpperCase()
        br
        =deneme2
        br
        hr
        -var sayi = 12

        if !sayi
            | sayı değişkeni yok
        else if sayi === 12
            | sayi = 12
        else
            | sayı 12 değil

        hr

        span(style="color: red; background-color: black ")
            | merhaba #{ name }
            =surname
        br
        include footer

        ul
            each val in [1, 2, 3, 4, 5]
                li= val     
